@use "../mixins/responsive.scss" as *;

.subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  width: 323px;
  color: white;

  @include responsive(laptop) {
    width: 1410px;
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.logo {
}
.header {
  background-color: #24053e;
  height: 360px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @include responsive(laptop) {
    width: 1440px;
  }

  &__access {
    font-weight: bolder;
    position: relative;
    top: 0.5rem;
  }
  &__title {
    color: white;
    font-weight: bolder;
    text-align: center;
    @include responsive(laptop) {
      font-size: 3rem;
      padding-left: 35%;
      padding-right: 35%;
    }
  }
  &__learn {
    height: 175px;
    width: 133px;
    background-color: #44ffa1;
    text-align: center;
    padding: 1rem;
    font-weight: bold;

    @include responsive(laptop) {
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 1rem;
      margin-top: -2rem;
    }
  }

  &__image {
    position: relative;
    width: 320px;
    @include responsive(laptop) {
      width: 500px;
    }
  }
}

.header:before {
  content: "";
  position: absolute;
  top: 19.5rem;
  width: 100%;
  height: 100px;
  border-radius: 50%;
  background-color: #24053e;

  @include responsive(laptop) {
    top: 19.5rem;
    width: 1440px;
  }
}
